In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [12]:
# Loading the data
X_dataset = pd.read_csv('data/X.csv')
Y_dataset = pd.read_csv('data/Y.csv')

In [13]:
X_dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.939328,0.596787,1.089826,1.150306,0.994554,1.953934,-0.566790,1.251430,-0.048666,0.041447,0.009678,1,1
1,0.939328,0.612619,1.064275,1.150306,1.009323,1.970652,-0.550007,1.272716,-0.001589,0.031564,0.003997,1,1
2,0.902404,0.612619,1.064275,1.165943,0.994554,1.941674,-0.522037,1.266455,0.019334,0.020857,0.000588,1,1
3,0.939328,0.596787,1.064275,1.165943,1.009323,1.967308,-0.497795,1.256438,-0.022512,0.030740,0.002861,1,1
4,0.957791,0.612619,1.064275,1.181581,1.009323,1.947247,-0.572384,1.307774,-0.052850,0.033211,-0.000548,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
428995,-0.242263,-0.685605,0.067789,-0.069430,0.684403,-0.691936,0.164179,-0.355009,-0.004728,0.012620,-0.013046,1,1
428996,-0.149952,-0.685605,0.067789,-0.069430,0.669634,-0.688593,0.128749,-0.319951,0.022472,0.013444,-0.026680,1,1
428997,-0.113027,-0.669773,0.067789,-0.069430,0.654864,-0.708654,0.154855,-0.302421,-0.008912,-0.002205,-0.038041,1,1
428998,-0.113027,-0.685605,0.067789,-0.085067,0.669634,-0.683020,0.061620,-0.258598,0.002596,0.006031,-0.024407,1,1
428999,-0.113027,-0.685605,0.067789,-0.069430,0.654864,-0.723143,0.065349,-0.274875,-0.004728,0.043918,0.035809,1,1